.u {
  &-placeholder {
    padding: $padding 0 0;

    &--big {
      padding: $padding--desktop 0 0;
    }
  }
}

@media (min-width: 1000px) {
  .u-ml--desktop-5 {
    margin-left: $padding--desktop;
  }

  .u {
    &-placeholder {
      padding: $padding 0 0;
    }
  }
}