.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
  background-color: transparent;

  &--fixed {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 3px 3px rgba(black, .1);
    z-index: 2;
  }

  &__logo {
    font-weight: normal;
    color: $color-base;
  }

  .hamburger-container {
    flex-basis: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
    font-weight: 300;
    opacity: .8;
    font-size: 1.4rem;
  }

  &__hamburger {
    display: block;
    flex-basis: 40%;
    cursor: pointer;

    .line {
      padding: .1rem;
      margin: 0 0 .2rem;
      width: 100%;
      background-color: $color-base;
      transition: transform .3s ease-in-out;

      &:nth-of-type(even) {
        width: 70%;
      }

      &:last-of-type {
        margin: 0 0 0 0;
      }
    }
  }

  &__nav {
    z-index: 3;
    transform: translateX(-1000rem);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $color-base;
    color: white;
    padding: $padding--desktop $padding;
    transition: transform .5s ease-in-out;

    .hamburger-container {
      color: white;
    }

    .header__hamburger {

      .line {
        background-color: white;
      }
    }
  }

  .nav-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__text {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 50%;
      left: 0;
      transform: translate(-50%, 0) rotate(-90deg);
      margin: $padding;
      opacity: .8;
    }
  }
}

.nav {
  list-style-type: none;
  margin: $padding--desktop 0 0 1rem;

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    padding: 1rem;
    margin: 0 0 1rem $padding;
    border-bottom: .1rem solid rgba(white, .3);
    transition: .3s ease-in-out;
    font-weight: 500;

    &:hover {
      border-color: white;
      padding: 1rem 0rem 1rem 1rem;
    }
  }

  .section {
    margin: $padding--desktop 0!important;
    padding: 0 $padding;

    &__list {
      font-weight: normal;
    }
  }
}

#menu-toggler {
  display: none;

  &:checked {
    & ~ .hamburger-container .header__hamburger,
    & ~ .header__nav .nav-header .hamburger-container .header__hamburger {
      transform: translate(5px, 0);
      
      .line {
        transform: rotate(45deg) translate(-1px, 3px);

        &:nth-of-type(even) {
          opacity: 0;
        }

        &:last-of-type {
          transform: rotate(-45deg) translate(2px, -7px);
        }
      }
    }

    & ~ .header__nav {
      transform: translateX(0);
    }
  }
}


@media (min-width: 1000px) {
  .header {
    padding: 3rem $padding--desktop;

    &__logo {
      font-size: 3rem;
    }

    .hamburger-container {
      color: $color-grey;
      flex-basis: 10rem;
    }

    &__hamburger {
      flex-basis: 4rem;
      
      .line {
        padding: .1rem;
        margin: 0 0 .5rem;
      }
    }

    &__nav {
      padding: 10rem 10rem 10rem 25rem;
    }
  }

  .nav-header {
    
    .hamburger-container {
      color: $color-white;
    }

    &__text {
      width: 15%!important;
      margin: 0 10rem 0!important;
    }
  }

  .nav {

    &__link {
      font-size: 2rem;
      margin: 0 0 4rem;
    }

    .section {
      padding: 0;
    }
  }

  #menu-toggler {
  
    &:checked {
      & ~ .header__hamburger .hamburger-container,
      & ~ .header__nav .nav-header .hamburger-container .header__hamburger {
        transform: translate(0, 5px)!important;
      
      .line {
        transform: rotate(45deg) translate(-1px, 5px)!important;

        &:nth-of-type(even) {
          opacity: 0;
        }

        &:last-of-type {
          transform: rotate(-45deg) translate(5px, -12px)!important;
        }
      }
      }
    }
  }
  
}