$color-red: hsl(340, 100%, 45%);
$color-blue: hsl(203, 100%, 35%);
$color-green: hsl(165, 100%, 40%);
$color-orange: hsl(6, 100%, 68%);


$color-white: #fff;
$color-grey: grey;
$color-black: #333740;

$padding: 2rem;
$padding--desktop: 5rem;